:root{
	/*Colors*/
	--DARK_BLUE: 			#031336;
	--MEDIUM_BLUE:			#0F295F;
	--BLUE:					#304A81;
	--LIGHT_BLUE:			#8A99B9;
	
	--DARK_RED: 			#510200;
	--MEDIUM_RED:			#8E0D0A;
	--RED:					#C23D3A;
	--LIGHT_RED:			#FFB987;
	
	--DARK_YELLOW:			#4C5000;
	--MEDIUM_YELLOW:		#868D09;
	--YELLOW:				#B9C039;
	--LIGHT_YELLOW:			#F9FDB6;
	
	/*GREEN and TEAL*/
	--LIGHT_GREEN: 			#07D7A3;
	--TEAL: 				#00C996;
	--MEDIUM_TEAL: 			#009772;
	--DARK_GREEN: 			#007A5C;
	--DARK_TEAL: 			#005B44;
	
	/*Variables*/
	
	--main-bg-color: 		var(--LIGHT_YELLOW);
	--main-accent-color:	var(--LIGHT_RED);
	--main-text-color:		var(--LIGHT_BLUE);
	
	--dark-bg-color:		var(--DARK_BLUE);
	--dark-accent-color:	var(--DARK_RED);
	--dark-text-color:		var(--DARK_YELLOW);
}


body{
}


h1{
	text-align: center;
	border: 3px solid #0F295F;
	color: #0F295F;
}


h2{
	text-align: center;
	/*border: 3px solid ##0F295F;/**/
	color: #0F295F;
}


h3{
	text-align: center;
	border: 3px solid #0F295F;
	color: #0F295F;
}


p{
	text-align: center;
	color: #0F295F;
}


.row{
	
}

.column{
	
}


.linkhover:hover{
	cursor: pointer;
}

.linkhover:link{
	color: #0F295F;		
}
.linkhover:visited{
	color: #0F295F;	
}


.messageField{
	width: 100%;
	height: 50%;
}



/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #0F295F;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 5px;
    font-size: 20px;
    height: 28px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: #0F295F;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 285px) {
  .topnav a {
    float: none;
    padding: 2px 2px;
    font-size: 20px;
    height: 25px;
    width: 100%;
  }
}

